In [19]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot

In [21]:
system = pd.read_csv('housing_prices_linear_regression.csv')
system
x = system['Size (sqft)']
y = system['Price ($1000s)']

   Size (sqft)  Price ($1000s)
0          650              70
1          785              85
2         1200             130
3         1500             155
4         1800             180
5         2000             200
6         2200             210
7         2500             230

In [ ]:
slope, intercept, r_value, p_value, std_err = stats.linregress(x,y)

In [22]:
def model(x):
    return slope * x + intercept

In [ ]:
line = list(map(model, x))