In [2]:
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats
import numpy as np

In [5]:
system = pd.read_csv('housing_prices_linear_regression.csv')
system.head(4)

   Size (sqft)  Price ($1000s)
0          650              70
1          785              85
2         1200             130
3         1500             155